.jumbotron {
    color: white;
    background-image: url('../images/person-touching-open-macbook-on-table-839465.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }