.jumbotron {
    color: white;
    background-image: url('../images/Brush.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  